<div class="container">
    <header fxLayout="row" fxLayoutAlign="space-between start">
        <h1><b>Compartilhe!</b></h1>
        <mat-icon (click)="closeDialogShare()" class="close">close</mat-icon>
    </header>
    <div class="social-media" fxLayout="row" >
        <div class="icon">
            <a href="https://twitter.com/intent/tweet?url=https://restaurante-teste-bf5c7.web.app/" target="_blank">
                <img src="../assets/twitter.png" alt="">
            </a>
        </div>
        <div class="icon">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://restaurante-teste-bf5c7.web.app/" target="_blank">
                <img src="../assets/facebook.png" alt="">
            </a>
        </div>
        <div class="icon">
            <a href="https://api.whatsapp.com/send?text=https://restaurante-teste-bf5c7.web.app/" target="_blank">
                <img src="../assets/whatsapp.png" alt="">
            </a>
        </div>
    </div>
    <p><b>ou copie o link:</b></p>
    <div class="input-group" >
        <input type="text" id="input" class="form-control" value="https://restaurante-teste-bf5c7.web.app/" disabled [(ngModel)]="value">
        <span class="input-group-btn">
            <button (click)="copyURL()" [cdkCopyToClipboard]="value" class="btn btn-default" id="clipboardCopy" type="button"><mat-icon>filter_none</mat-icon></button>
        </span>
    </div>
</div>
