.mat-icon{
    color: #723CAF;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    fill: currentColor;
    display: inline-block;
}

.search{
    text-align: right;
}

@media(max-width: 500px){
    .search{
        text-align: left;
    }
}

#excel-button{
    height: 40px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 25px;
}


