<div class="row mb-2 mt-2">
    <div class="col-12">
        <form [formGroup]="meuFormGroup">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nome do Alimento</label>
                    <input type="text" id="name" class="form-control" formControlName="name" #nameInput/>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Quantidade (Unidade)</label>
                    <input type="number" id="amount" class="form-control" formControlName="amount" #amountInput/>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button class="btn btn-success mx-md-1" type="button"(click)="addFood()" [disabled]="!meuFormGroup.valid">{{method === 'edit' ? 'Atualizar' : 'Incluir'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>