<div class="container"fxLayout="column" fxLayoutAlign="center center">
    <div class="check" fxLayout="column" fxLayoutAlign="center center" *ngIf="authService.userData as user">
        <!-- <img class="detail" src="../assets/43.png" alt=""> -->
        <img class="image" src="../assets/rocketman-email.jpg" alt="">
        <br>
        <h1>Cheque seu e-mail, por favor!</h1>
        <p>Para que você tenha uma experiência completa, nós precisamos verificar seu e-mail. Nós enviamos um e-mail para <strong>{{user.email}}</strong>. Cheque também seu span e confirme sua identidade!</p>
        <br>
        <input class="button" routerLink="/sign-in" type="button" value="Claro!">
        <br>
        <br>
        <p>Não recebeu o e-mail? <span class="send-again" (click)="authService.SendVerificationMail()">Mandar novamente</span></p>
    </div>
</div>
