<div class="row">
    <div class="col-md-5">
        <app-lunch-list 
        (packageWasSelected)="selectedPackage = $event"
        ><mat-icon>close</mat-icon></app-lunch-list>
    </div>
    <div id="load" class="load"></div>
    <div class="col-md-7" id="info" style="display: none;">     
        <app-lunch-details *ngIf="selectedPackage; else info"
        [packageSelected]="selectedPackage"
        [packages]="selectedPackage"
        ></app-lunch-details>
        <ng-template  #info>
            <h2>Por favor, selecione um alimento do nosso cardápio!</h2>
        </ng-template>
    </div>
</div>
