.load{
    animation: is-rotating 1s infinite;
    border: 6px solid #d4cfdd;
    border-radius: 50%;
    border-top-color: #32b5e5;
    height: 180px;
    width: 180px;
    text-align: center;
    margin-top: 190px;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}

@media (max-width: 500px){
    .load{
        height: 100px;
        width: 100px;
        margin-left: 140px;
    }
}

@media (width: 540px){
    .load{
        height: 100px;
        width: 100px;
        margin-left: 230px;
    }
}