<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Pedido</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requestList; let i = index">
            <th scope="row">{{request.id}}</th>
            <th scope="row">
                <select class="custom-select">
                    <option selected>Pedido Realizado</option>
                    <option value="1">Preparando</option>
                    <option value="2">Entregue</option>
                </select>
            </th>
        </tr>
        
    </tbody>
</table>