<div id="search" class="search" style="display: none;">
    <mat-form-field appearance="outline" floatLabel="never">
        <mat-icon style="text-align: center" matSuffix class="search-lunch-icon">search</mat-icon>
        <input placeholder="Buscar Comida no Cardápio" style="margin-bottom: 4px;" matInput [(ngModel)]="filter"/>
    </mat-form-field>
</div>
<!-- <div id="load" class="load"></div> -->
<div id="list" class="row" style="display: none;">
    <div class="col-12">
        <app-lunch-item *ngFor="let packageElement of packageEx | filter: filter"
        [package]="packageElement.datas"
        (packageSelected)="onPackageSelected(packageElement)"
        (delete)="onDelete(packageElement.id)"
        ></app-lunch-item>
    </div>
</div>
<br>
<div id="button" class="row mb-5" style="display: none;">
    <div class="col-12">
        <button class="btn btn-success" (click)="openDialog()">Adicionar Comida ao Cardápio</button>
    </div>
</div>




