.trash{
    color: #723CAF;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    fill: currentColor;
    display: inline-block;
}

#menu{
    color: black;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    fill: currentColor;
    display: inline-block;
}

mat-card{
    border-width: 5px;
    border-style: outset;
    border-color: #723CAF;
}

@media (max-width: 500px) {
    .img-responsive{
        display: none;
    }    
}

