<mat-card>
    <div class="list-group-item clearfix">
        <div class="float-start" style="cursor: pointer;">
            <img [src]="package.imagePath"  class="img-responsive" (click)="onSelected()"  style="max-height: 110px;" style="max-width: 170px;">
            <button mat-button class="trash" (click)="removeLunch()">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"  aria-hidden="true">delete</mat-icon>
            </button>
        </div>
        <div class="float-end">
            <h1 class="list-group-item-heading">{{package.name}}</h1>
            <br>
            <p class="value">R$ {{package.value.toFixed(2).replace(".", ",")}}</p>
            <a href="#" class="list-group-item clearfix">
                <p class="list-group-item-text" (click)="onSelected()">Saiba Mais<mat-icon class="arrow">keyboard_arrow_right</mat-icon></p>
            </a>
        </div>
    </div>
</mat-card>


<br>