.bagImage{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 5px;
    border-style: solid;
    border-color: #5c068c; 
}

.col-12{
    text-align: center;
    align-items: center;
}

#bagRemove{
    float: right;
    cursor: pointer;
    color: #5c068c;
    height: 23px;
    width: 23px;
}

#remove{
    float:right;
    cursor: pointer;
}

.bagAdd{
    float: right;
    cursor: pointer;
    color: #5c068c;
}

.amount{
    align-items: center;
    text-align: center;
    display: flex;
    right: 0;
}

.amount-son{
    border-width: thin;
    border-style: solid;
    border-color: darkgrey;
    width: 100px;
    height: 30px;
    margin-left: 30px;
}

.addNumber{
    margin-top: 12px;
}

li{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.item{
    margin: 0;
    margin-top: 15px;
}

.bagName{
    margin: 0;
    margin-top: 15px;
}

.total{
    float: right;
}

.bagValue{
    margin: 0;
    margin-left: 5px;
    color: green;
    font-size: 15px;
}

.btn{
    width: 250px;
    height: 30px;
    font-size: 17px;
    float: right;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 16px;
    padding-top: 0;
}

.col-12{
    float: right;
}

.container{
    overflow: auto;
    height: 100%;
    max-height: 800px;
}

ul{
    margin: 0;
    padding-left: 0;
    float: left;
}

.value{
    font-size: 2px;
}