

mat-toolbar{
    height: 64px;
    background: #32b5e5;
    color: white;
}
img{
    /* margin-top: 0.9px; */
    width: 128px;
}

.title{
    font-size: 30px;
    text-align: center;
}

.lunch{
    overflow: scroll;
    height: 100%;
    max-height: 300px;
    
}

@media (max-width: 700px){
    img{
        width: 88px;
    }
    .title{
        font-size: 23px;
    }
}

@media (max-width: 350px){
    .title{
        font-size: 15px;
    }
    img{
        width: 60px;
    }
}

.col{
    width: 100%;
    max-width: 100px;
    height: 100vh;
    background-color: #5c068c;
}

mat-icon{
    font-size: 40px;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    margin: 5px;

    
}

.icon{
    
    background-color: #32b5e5;
    border-radius: 30px;
    margin: 20px;
    overflow: clip;

}