<div class="container">
    <div class="image-responsive">
        <img class="img-login"src="../assets/signup.jpg" alt="">
    </div>
    <div class="signup">
        <div class="header">
            <h1>Sign <span class="up">Up</span></h1>
            <p class="already-accont">Já tem uma conta? <span class="redirect" routerLink="/sign-in">Log in</span></p>
        </div>
        <br>
        <div class="adress">
            <p class="name"><b>Nome:</b></p>
            <input class="input-name" type="text" placeholder="Seu nome" #userName required>
            <br>
            <br>
            <p class="email"><b>Endereço de e-mail:</b></p>
            <input class="input-email" type="email" placeholder="exemplo@gmail.com" #userEmail required>
            <br>
            <br>
            <p class="password"><b>Senha:</b></p>
            <input class="input-password" type="password" placeholder="Sua Senha" #userPwd required>
            <br>
            <br>
            <div class="politic">
                <mat-slide-toggle color="primary" >Eu concordo com os <span class="up">Termos de Uso</span> e <span class="up">Políticas de Privacidade</span> </mat-slide-toggle>
                <p class="risk">----------------------------------</p><p> OU </p><p class="risk">----------------------------------</p>
                <br>
                <button type="button" class="login-with-google" (click)="authService.GoogleAuth()">Login com o Google</button>
                <br>
                <a href="#" class="button" (click)="authService.SignUp(userEmail.value, userPwd.value)">Cadastrar conta</a>
            </div>
        </div>
    </div>
</div>
