
<div class="container" fxFlex="100">
    <div class="password" fxFlex="50"  fxLayout="column" fxLayoutAlign="center center">
        <img class="logo"src="../assets/envolti-dark.png" alt="envolti">
        <h1 class="forgot-password">Esqueceu a senha?</h1>
        <h3 class="subtitle">Informe seu e-mail para que possamos recuperar pra você!</h3>
        <br>
        <br>
        <p class="email"><b>Endereço de E-mail:</b></p>
        <input class="input-email" type="email" placeholder="Seu endereço de e-mail" #passwordResetEmail required>
        <br>
        <br>
        <button class="reset-password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Restaurar senha</button>
        <br>
        <br>
        <mat-icon class="home" aria-hidden="false" aria-label="Example home icon" routerLink="/sign-in" style="cursor: pointer;" fontIcon="home"></mat-icon>
    </div>
    <div class="image-responsive" fxFlex="50">
        <img class="img-forgot-password"src="../assets/rockeatman-confuse.jpg" alt="">
    </div>
</div>

