/* You can add global styles to this file, and also import other style files */
.dropdown-toggle.show + ul.dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scrollbar-width: none; 

}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
}
