<br>
<br>
<br>
<br>
<br>
<br>
<mat-card>

    <!-- Nome da Marmita -->
    <div class="row">
        <div class="col-12">
            <h1>{{packageSelected.name}}</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>{{packageSelected.description}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img  [src]="packageSelected.imagePath" alt="{{packageSelected.name}}" class="img-responsive" style="border-radius: 20px;">
            </div>
        </div>
    </div>
    <!-- Menu de Opções -->
    <div class="row">
        <div class="col-12">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
                    Opções <span class="carret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- <li><button class="button">Adicionar Ingredientes</button></li> -->
                    <li><button class="button"(click)="openDialogDetail()" style="margin-left: 10px;">Editar Comida</button></li>
                </ul>
            </div>
            
        </div>
    </div>
</mat-card>
