.button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #068;
    text-decoration: underline;
    cursor: pointer;
}

.img-responsive{
  max-height: 250px; 
  max-width: 300px;
  float: center;
  margin-right: 20px;
  /* margin-top: -100px; */
}

.content{
  border-width: 5px;
  border-style: outset;
  border-color: #723CAF;
  border-radius: 30px;
  margin-top: 120px;
}

.button{
  text-decoration: none;
}

h1{
  color: black;
  text-decoration: underline;
}

@media (max-width: 920px) {
  .img-responsive{
    max-width: 250px;
  } 
}

.bag{
  display: inline-flex;
  color: #9b989f;
}

.bagImage{
  width: 100px;
  height: 100px;
}

.bagText{
  margin-top: 25px;
  font-size: 30px;
}

.review{
  float: right;
  margin-top: 60px;
}

.arrow{
  color: #fff;
  text-align: center;
  margin-top: -1px;
}

.bagButton{
  width: 150px;
  height: 30px;
  font-size: 17px;
  float: left;
  text-align: center;
  background-color: #32b5e5;
  color: #fff;
  line-height: 30px;
  border-radius: 16px;
  margin-top: 35px;
}

#bagCard{
  border-width: 5px;
  border-style: outset;
  border-color: #723CAF;
  border-radius: 30px;
  margin-top: 20px;
}

.dropdown{
  margin-top: 20px;
}