.button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #068;
    text-decoration: underline;
    cursor: pointer;
}

mat-card{
  border-width: 5px;
  border-style: outset;
  border-color: #723CAF;
}

.button{
  text-decoration: none;
}