<br>
<br>
<br>
<br>
<br>
<br>
<mat-card>

    <!-- Nome da Marmita -->
    <div class="row">
        <div class="col-12">
            <h1>{{packageSelected.name}}</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>{{packageSelected.description}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img  [src]="packageSelected.imagePath" alt="{{packageSelected.name}}" class="img-responsive" style="border-radius: 20px;">
            </div>
        </div>
    </div>
    <br>
    <!-- Menu de Opções -->
    <div class="row">
        <div class="col-12">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" aria-expanded="false" aria-haspopup="true"  appDropdown>
                    Opções <span class="carret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- <li><button class="button">Adicionar Ingredientes</button></li> -->
                    <li><button id="editFood" class="button"(click)="openDialogDetail()" style="margin-left: 10px;">Editar Comida</button></li>
                    <li><button id="addBag" class="button" (click)="sumPackage()" style="margin-left: 10px;">Adicionar a Sacola</button></li>
                </ul>
            </div>
            
        </div>
    </div>
</mat-card>
<br>
<mat-card id="bagCard">
    <div class="bag">
        <img src="../assets/sacolas-de-papel.png" class="bagImage" alt="">
        <div fxLayout="column">
            <h1 class="bagText">Sacola</h1>
            <h2>Total: R$ {{this.sum.toFixed(2).replace(".",",")}}</h2>
        </div>
    </div>
    <div class="review">
        <button id="review" class="bagButton"mat-raised-button (click)="openDialogReview(index)">Revisar Itens<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
    </div>
</mat-card>
